* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: beige;
  color: black;
}

.container-header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 6fr 3fr;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  height: 75px;
  color: whitesmoke;
  font-weight: 500;
}
.container-header .div-logo {
  margin-left: 10px;
  grid-column: 1/2;
  grid-row: 1/2;
}
.container-header .div-redes {
  grid-column: 2/3;
  grid-row: 1/2;
}
.container-header .div-redes ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.container-header .div-redes ul li {
  margin-top: 20px;
}
.container-header .div-redes ul li a {
  padding: 0 10px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8666666667);
}
.container-header .div-redes ul li a i:hover {
  color: #F0A7CF;
}
.container-header .div-redes ul li a:hover {
  color: #F0A7CF;
}
.container-header .container-carrito {
  padding-top: 10px;
  margin-right: 10px;
  grid-column: 3/4;
  grid-row: 1/3;
  display: flex;
  justify-content: flex-end;
}
.container-header .container-carrito a {
  color: whitesmoke;
  font-weight: 50 0;
  text-decoration: none;
  margin-right: 10px;
}
.container-header .container-carrito .div-carrito-img-item {
  display: grid;
}
.container-header .container-carrito .div-carrito-img-item .div-carrito-img {
  grid-column: 1/6;
  grid-row: 1/4;
}
.container-header .container-carrito .div-carrito-img-item .div-carrito-item {
  grid-column: 3/5;
  grid-row: 3/5;
}
.container-header .container-carrito .div-carrito-img-item .div-carrito-item p {
  font-size: 12px;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #EC128F;
  border-radius: 50px;
  justify-self: center;
}

.navbar {
  padding: 0;
  background-image: linear-gradient(to bottom right, #FFFFFF, rgba(236, 18, 143, 0.8));
  font-size: 14px;
}
.navbar .dropdown-menu {
  background-image: linear-gradient(to bottom left, #FFFFFF, rgba(236, 18, 143, 0.5333333333));
}
.navbar .login-dropdown-menu {
  position: absolute;
  right: 0;
  top: 100%;
  display: none;
  list-style: none;
  text-align: start;
}
.navbar .dropdown:hover .login-dropdown-menu {
  display: block;
}
.navbar .dropdown:hover .dropdown-menu {
  display: block;
}
.navbar .dropdown-item {
  font-size: 14px;
}
.navbar .dropdown-item:hover {
  background-color: rgba(255, 19, 150, 0.2);
}
.navbar .ul-login {
  display: flex;
  align-items: end;
}

#navbarSupportedContent {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

footer {
  margin-top: 100px;
}

.fc-white {
  color: rgba(255, 255, 255, 0.8666666667) !important;
}

.bg-dark {
  background-color: #000000 !important;
  color: #000000;
}

.title h1 {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  border-bottom: 2px solid blue;
}

.container-productos {
  width: 95%;
  height: 75%;
  display: flex;
}

.producto {
  width: 25%;
  margin-bottom: 20px;
  margin-left: 20px;
  border: 1px solid lightgoldenrodyellow;
}
.producto a {
  text-decoration: none;
}
.producto a h2 {
  font-size: 16px;
  font-weight: 300;
  color: #EC128F;
  margin-bottom: 10px;
}
.producto a img {
  width: 100%;
  height: 100%;
}
.producto .precio-oferta {
  color: #dc3545;
  font-size: 20px;
}
.producto .precio-anterior {
  color: grey;
  font-size: 12px;
  text-decoration: line-through;
}

.container-detalle-producto {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.container-detalle-producto .container-img {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-detalle-producto .container-img img {
  width: 300px;
  height: 300px;
}
.container-detalle-producto .container-detalles {
  margin-left: 30px;
  width: 70%;
}
.container-detalle-producto .titulo-producto {
  border-bottom: 1px solid grey;
}
.container-detalle-producto .titulo-producto h2 {
  margin-bottom: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #333e48;
}
.container-detalle-producto .titulo-producto p {
  margin-bottom: 20px;
  color: darkslategrey;
}
.container-detalle-producto .subtitulo-producto {
  margin-top: 20px;
}
.container-detalle-producto .subtitulo-producto h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #333e48;
}
.container-detalle-producto .container-precio {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.container-detalle-producto .container-precio .precio-oferta {
  color: #dc3545;
  font-size: 26px;
}
.container-detalle-producto .container-precio .precio-anterior {
  margin-left: 10px;
  color: grey;
  font-size: 18px;
  text-decoration: line-through;
}
.container-detalle-producto .container-carrito-add {
  display: flex;
  margin-top: 40px;
}
.container-detalle-producto .container-carrito-add input[type=number] {
  border-radius: 15px;
  border: 1px solid grey;
  text-align: end;
  width: 100px;
}
.container-detalle-producto .container-carrito-add button {
  margin-left: 20px;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid grey;
  background-color: #FF1396;
  color: white;
}

section {
  height: 100vh;
  margin: 30px 80px;
}
section .container-compra {
  display: flex;
  width: 100%;
  height: 100%;
}
section .container-compra .container-detalle {
  width: 70%;
  background-color: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 6px;
}
section .container-compra .container-detalle .header-productos {
  height: 6.5%;
}
section .container-compra .container-detalle .header-productos p {
  margin: 15px 20px;
}
section .container-compra .container-detalle .separator-productos {
  border-top: 1px solid #E5E5E5;
}
section .container-compra .container-detalle .items-productos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  align-items: center;
}
section .container-compra .container-detalle .items-productos .item {
  padding: 18px 0;
  display: flex;
}
section .container-compra .container-detalle .items-productos .item .img-producto {
  width: 20%;
  display: flex;
  justify-content: center;
}
section .container-compra .container-detalle .items-productos .item .img-producto img {
  padding: 5px;
}
section .container-compra .container-detalle .items-productos .item .detalle-producto {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 60%;
}
section .container-compra .container-detalle .items-productos .item .detalle-producto .desc-p {
  margin: 0;
  font-size: 18px;
}
section .container-compra .container-detalle .items-productos .item .detalle-producto .detail-p {
  margin-bottom: 5px;
  font-size: 14px;
  color: #888888;
}
section .container-compra .container-detalle .items-productos .item .detalle-producto .btn-remover {
  font-size: 14px;
  color: rgba(255, 19, 150, 0.7333333333);
  text-decoration: none;
}
section .container-compra .container-detalle .items-productos .item .detalle-producto .btn-remover:hover {
  color: #FF1396;
}
section .container-compra .container-detalle .items-productos .item .cantidad-producto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  width: 20%;
}
section .container-compra .container-detalle .items-productos .item .cantidad-producto .cantidad-btn {
  width: 26px;
  height: 26px;
  background: #FFFFFF;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  line-height: 16px;
}
section .container-compra .container-detalle .items-productos .item .cantidad-producto .btn-less {
  border: 1px solid #cccccc;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: none;
}
section .container-compra .container-detalle .items-productos .item .cantidad-producto .btn-less:hover {
  border: 1px solid #FF1396;
  color: #FF1396;
}
section .container-compra .container-detalle .items-productos .item .cantidad-producto .btn-more {
  border: 1px solid #cccccc;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: none;
}
section .container-compra .container-detalle .items-productos .item .cantidad-producto .btn-more:hover {
  border: 1px solid #FF1396;
  color: #FF1396;
}
section .container-compra .container-detalle .items-productos .item .cantidad-producto .cantidad-input {
  width: 50px;
  height: 26px;
  text-align: center;
  font-size: 12px;
  border: 1px solid #CCCCCC;
  border-left: none;
  border-right: none;
}
section .container-compra .container-detalle .items-productos .item .cantidad-producto .cantidad-input::-webkit-outer-spin-button,
section .container-compra .container-detalle .items-productos .item .cantidad-producto .cantidad-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
section .container-compra .container-detalle .items-productos .item .total-producto {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .container-compra .container-detalle .items-productos .item .total-producto .total-p {
  font-size: 18px;
}
section .container-compra .container-detalle .items-productos .item .total-producto .total-p span {
  font-size: 10px;
  vertical-align: super;
}
section .container-compra .container-resumen {
  width: 30%;
  margin-left: 30px;
  border-radius: 6px;
}
section .container-compra .container-resumen .resumen-details {
  width: 100%;
  height: 30%;
  background-color: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 6px;
}
section .container-compra .container-resumen .resumen-details .resumen-header {
  height: 30%;
  margin-left: 20px;
  display: flex;
  align-items: center;
}
section .container-compra .container-resumen .resumen-details .resumen-header p {
  padding-top: 15px;
}
section .container-compra .container-resumen .resumen-details .resumen-separator {
  border-top: 1px solid #E5E5E5;
}
section .container-compra .container-resumen .resumen-details .resumen-amount {
  height: 30%;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .container-compra .container-resumen .resumen-details .resumen-amount p {
  padding-top: 15px;
  font-size: 18px;
  font-weight: 500;
}
section .container-compra .container-resumen .resumen-details .resumen-button {
  margin: 0 20px;
  height: 30%;
  display: flex;
}
section .container-compra .container-resumen .resumen-details .resumen-button button {
  width: 100%;
  height: 90%;
  cursor: pointer;
  background-color: rgba(255, 19, 150, 0.8666666667);
  color: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
}
section .container-compra .container-resumen .resumen-details .resumen-button button:hover {
  background-color: #FF1396;
}
section .container-carrito-vacio {
  background-color: #FCE2E2;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 90vw;
  justify-self: center;
}
section .container-carrito-vacio p {
  color: #555555;
}

.container-carrito-vacio {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-carrito-vacio p {
  font-size: 36px;
  margin: 30px 0;
}

.listado-productos-title {
  margin: 50px 0;
  text-align: center;
}

.no-products-message {
  margin: 30px 0;
  padding: 30px;
  background-color: #FF1396;
  text-align: center;
}

.container-tabla-productos {
  display: flex;
  justify-content: center;
}

.tabla-productos {
  width: 90%;
  border-collapse: collapse;
}
.tabla-productos thead tr {
  border-bottom: 1px solid grey;
}
.tabla-productos thead tr th {
  font-size: 15;
  padding: 10px;
}
.tabla-productos tbody tr {
  border-bottom: 1px solid grey;
}
.tabla-productos tbody tr td {
  font-size: 12px;
  color: #EC128F;
  padding: 10px;
}
.tabla-productos tbody tr td .img-agotado {
  width: 60px;
  height: 30px;
}

.th-listProd-nombre {
  width: 30%;
  text-align: start;
}

.th-listProd-descripcion {
  width: 50%;
  text-align: start;
}

.th-listProd-precio-lista {
  width: 10%;
  text-align: start;
}

.th-listProd-precio-oferta {
  width: 15%;
  text-align: start;
}

.th-listProd-cantidad {
  width: 15%;
  text-align: start;
}

.swal2-styled {
  padding: 5px;
  height: 30px;
}

.swal2-confirm, .swal2-cancel {
  width: 100px;
}

.container-form {
  margin: 50px 0;
  height: 90vh;
  background-image: url("../assets/contacto.webp");
}
.container-form .container-form-filtro {
  background-color: rgba(255, 255, 255, 0.8666666667);
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-form .container-form-filtro .container-form-marco {
  width: 65vw;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #EC128F;
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 rgba(204, 204, 204, 0.5333333333), 0 0 5px 5px rgba(204, 204, 204, 0.5333333333);
}
.container-form .container-form-filtro .container-form-marco .div-form-titulo {
  height: 25%;
}
.container-form .container-form-filtro .container-form-marco .div-form-titulo p {
  font-size: 28px;
  font-weight: 500;
  color: #333e48;
  padding: 10px 0;
  line-height: 28px;
}
.container-form .container-form-filtro .container-form-marco .form {
  height: 75%;
  width: 50%;
}
.container-form .container-form-filtro .container-form-marco .form input {
  border: 1px solid rgba(236, 18, 143, 0.3333333333);
}
.container-form .container-form-filtro .container-form-marco .form button {
  width: 100%;
  padding: 10px;
  background-color: #EC128F;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid #cccccc;
  border-radius: 20px;
}

.input-group-text {
  border-color: rgba(0, 0, 0, 0);
  background-color: #CCCCCC;
}

.fa-user, .fa-lock, .fa-eye, .fa-eye-slash {
  height: 26px;
  align-content: center;
}

.user-icon, .lock-icon {
  background-color: #CCCCCC;
  border: 1px solid rgba(236, 18, 143, 0.3333333333);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.eye-icon {
  background-color: #CCCCCC;
  border: 1px solid rgba(236, 18, 143, 0.3333333333);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.div-register-link-icon {
  display: flex;
  justify-content: center;
}
.div-register-link-icon .register-icon {
  align-self: center;
}
.div-register-link-icon .register-link {
  text-decoration: none;
  color: #000000;
  margin-left: 10px;
  align-self: center;
}

.container-form-registro {
  margin: 50px 0;
  background-image: url("../assets/contacto.webp");
}
.container-form-registro .form-registro-filtro {
  background-color: rgba(255, 255, 255, 0.8666666667);
  height: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-form-registro .form-registro-filtro .form-registro-marco {
  padding: 20px;
  width: 65vw;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #EC128F;
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 rgba(204, 204, 204, 0.5333333333), 0 0 5px 5px rgba(204, 204, 204, 0.5333333333);
}
.container-form-registro .form-registro-filtro .form-registro-marco .div-form-registro-titulo {
  height: 25%;
}
.container-form-registro .form-registro-filtro .form-registro-marco .div-form-registro-titulo p {
  font-size: 28px;
  font-weight: 500;
  color: #333e48;
  padding: 10px 0;
  line-height: 28px;
}
.container-form-registro .form-registro-filtro .form-registro-marco .form {
  height: 75%;
  width: 50%;
}
.container-form-registro .form-registro-filtro .form-registro-marco .form input {
  border: 1px solid rgba(236, 18, 143, 0.3333333333);
}
.container-form-registro .form-registro-filtro .form-registro-marco .form .span-required {
  color: #FF0000;
}
.container-form-registro .form-registro-filtro .form-registro-marco .form button {
  width: 100%;
  padding: 10px;
  background-color: #EC128F;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid #cccccc;
  border-radius: 20px;
}

.form-direccion {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
